swagger: "2.0"
info:
  description: "GFashion"
  version: "1.0.0"
  title: "GFashion"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "gtv1.org"
basePath: "/v1"
tags:
  - name: "gfashion"
    description: "Everything about GFashion"
    externalDocs:
      description: "Find out more"
      url: "http://swagger.io"
  - name: "product"
    description: "Recommended product"
  - name: "order"
    description: "Access to GFashion Store orders"
  - name: "cart"
    description: "Access to customer's cart"
  - name: "customer"
    description: "Operations about customer"
  - name: "designer"
    description: "Recommended desginer"
  - name: "category"
    description: "Access to GFashion category"
schemes:
  - "https"
  - "http"
paths:
  /products:
    post:
      tags:
        - "product"
      summary: "Add a new product to the store"
      description: ""
      operationId: "addProduct"
      consumes:
        - "application/json"
        - "application/xml"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Product object that needs to be added to the store"
          required: true
          schema:
            $ref: "#/definitions/Product"
      responses:
        "405":
          description: "Invalid input"
      security:
        - gfashionstore_auth:
            - "write:products"
            - "read:products"
    put:
      tags:
        - "product"
      summary: "Update an existing product"
      description: ""
      operationId: "updateProduct"
      consumes:
        - "application/json"
        - "application/xml"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Product object that needs to be added to the store"
          required: true
          schema:
            $ref: "#/definitions/Product"
      responses:
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Product not found"
        "405":
          description: "Validation exception"
      security:
        - gfashionstore_auth:
            - "write:products"
            - "read:products"
  /channelProducts/:
    get:
      tags:
        - "product"
      summary: "Searches Products by given query string"
      description: "Multiple status values can be provided with comma separated strings"
      operationId: "searchProducts"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "status"
          in: "query"
          description: "Query string that need to be considered for filter(TBC)"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Product"
        "400":
          description: "Invalid status value"
      security:
        - gfashionstore_auth:
            - "write:products"
            - "read:products"
  /products/searchByDesigner/{designerId}:
    get:
      tags:
        - "product"
      summary: "Searches Products by Designer Id"
      operationId: "searchProductsByDesigner"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "designerId"
          in: "path"
          description: "Designer Id"
          required: true
          type: "integer"
          format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Product"
        "400":
          description: "Invalid status value"
      security:
        - gfashionstore_auth:
            - "write:products"
            - "read:products"
  /products/{productId}:
    get:
      tags:
        - "product"
      summary: "Find product by ID"
      description: "Returns a single product"
      operationId: "getProdutById"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "productId"
          in: "path"
          description: "ID of product to return"
          required: true
          type: "integer"
          format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Product"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Product not found"
      security:
        - api_key: []
    post:
      tags:
        - "product"
      summary: "Updates a product in the store with form data"
      description: ""
      operationId: "updateProductWithForm"
      consumes:
        - "application/x-www-form-urlencoded"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "productId"
          in: "path"
          description: "ID of product that needs to be updated"
          required: true
          type: "integer"
          format: "int64"
        - name: "name"
          in: "formData"
          description: "Updated name of the product"
          required: false
          type: "string"
        - name: "status"
          in: "formData"
          description: "Updated status of the product"
          required: false
          type: "string"
      responses:
        "405":
          description: "Invalid input"
      security:
        - gfashionstore_auth:
            - "write:products"
            - "read:products"
    delete:
      tags:
        - "product"
      summary: "Deletes a product"
      description: ""
      operationId: "deleteProduct"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "api_key"
          in: "header"
          required: false
          type: "string"
        - name: "productId"
          in: "path"
          description: "Product id to delete"
          required: true
          type: "integer"
          format: "int64"
      responses:
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Product not found"
      security:
        - gfashionstore_auth:
            - "write:products"
            - "read:products"
  /products/{productId}/uploadImage:
    post:
      tags:
        - "product"
      summary: "uploads an image"
      description: ""
      operationId: "uploadProductFile"
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - name: "productId"
          in: "path"
          description: "ID of product to update"
          required: true
          type: "integer"
          format: "int64"
        - name: "additionalMetadata"
          in: "formData"
          description: "Additional data to pass to server"
          required: false
          type: "string"
        - name: "file"
          in: "formData"
          description: "file to upload"
          required: false
          type: "file"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
      security:
        - gfashionstore_auth:
            - "write:products"
            - "read:products"

  /orders:
    post:
      tags:
        - "order"
      summary: "Place an order for a product"
      description: ""
      operationId: "placeOrder"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "order placed for purchasing the product"
          required: true
          schema:
            $ref: "#/definitions/Order"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Order"
        "400":
          description: "Invalid Order"
  /orders/{orderId}:
    get:
      tags:
        - "order"
      summary: "Find purchase order by orderID"
      description: "For valid response try integer IDs with value >= 1 and <= 10. Other values will generate exceptions"
      operationId: "getOrderById"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "orderId"
          in: "path"
          description: "ID of product that needs to be fetched"
          required: true
          type: "integer"
          maximum: 10.0
          minimum: 1.0
          format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Order"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Order not found"
    delete:
      tags:
        - "order"
      summary: "Delete purchase order by orderID"
      description: "For valid response try integer IDs with positive integer value. Negative or non-integer values will generate API errors"
      operationId: "deleteOrder"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "orderId"
          in: "path"
          description: "ID of the order that needs to be deleted"
          required: true
          type: "integer"
          minimum: 1.0
          format: "int64"
      responses:
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Order not found"
  /orders/ordersOfCustomer/{customerId}:
    get:
      tags:
        - "order"
      summary: "Find purchase orders by customerId"
      description: "For valid response try integer IDs with value >= 1 and <= 10. Other values will generate exceptions"
      operationId: "getOrdersByCustomerId"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "customerId"
          in: "path"
          description: "ID of customer whose orders needs to be fetched"
          required: true
          type: "integer"
          maximum: 10.0
          minimum: 1.0
          format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Order"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Order not found"


  /store/storeViews:
    get:
      tags:
        - "store"
      summary: "Retrieve list of all stores"
      description: ""
      operationId: "getStoreViews"
      produces:
        - "application/json"
        - "application/xml"
      # No parameters:
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Store"
        "401":
          description: "Unauthorized"
        "default":
          description: "Unexpected error"
  /store/websites:
    get:
      tags:
        - "store"
      summary: "Retrieve list of all websites"
      description: ""
      operationId: "getWebsites"
      produces:
        - "application/json"
        - "application/xml"

      # No parameters:
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Website"
        "401":
          description: "Unauthorized"
        "default":
          description: "Unexpected error"
  /store/storeGroups:
    get:
      tags:
        - "store"
      summary: "Retrieve list of all groups"
      description: ""
      operationId: "getStoreGroups"
      produces:
        - "application/json"
        - "application/xml"

      # No parameters:
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/StoreGroup"
        "401":
          description: "Unauthorized"
        "default":
          description: "Unexpected error"

  /store/StoreConfigs:
    get:
      tags:
        - "store"
      summary: "Retrieve list of all store configurations"
      description: ""
      operationId: "getStoreConfigs"
      produces:
        - "application/json"
        - "application/xml"

      # No parameters:
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/StoreConfig"
        "401":
          description: "Unauthorized"
        "default":
          description: "Unexpected error"

  /carts/productsOf/{customerId}:
    get:
      tags:
        - "cart"
      summary: "Find all products in the shopping cart by customerId"
      description: "For valid response try integer IDs with value >= 1 and <= 10. Other values will generate exceptions"
      operationId: "getProductsinCartByCustomerId"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "customerId"
          in: "path"
          description: "ID of product that needs to be fetched"
          required: true
          type: "integer"
          maximum: 10.0
          minimum: 1.0
          format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Product"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Order not found"
  /carts/{customerId}/{productId}:
    post:
      tags:
        - "cart"
      summary: "Add an product to the shopping cart of a customer with customerId"
      description: "For valid response try integer IDs with value >= 1 and <= 10. Other values will generate exceptions"
      operationId: "addProducttoCartByCustomerId"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "customerId"
          in: "path"
          description: "ID of customer to whose cart the product needs to be added"
          required: true
          type: "integer"
          maximum: 10.0
          minimum: 1.0
          format: "int64"
        - name: "productId"
          in: "path"
          description: "ID of product that needs to be added for the customer"
          required: true
          type: "integer"
          maximum: 10.0
          minimum: 1.0
          format: "int64"
      responses:
        "200":
          description: "successful operation"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Product not found"
    delete:
      tags:
        - "cart"
      summary: "Delete an product From the shopping cart of a customer with customerId"
      description: "For valid response try integer IDs with value >= 1 and <= 10. Other values will generate exceptions"
      operationId: "deleteProducttoCartByCustomerId"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "customerId"
          in: "path"
          description: "ID of customer from whose cart the product needs to be delete"
          required: true
          type: "integer"
          maximum: 10.0
          minimum: 1.0
          format: "int64"
        - name: "productId"
          in: "path"
          description: "ID of product that needs to be deleted for the customer"
          required: true
          type: "integer"
          maximum: 10.0
          minimum: 1.0
          format: "int64"
      responses:
        "200":
          description: "successful operation"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Product not found"

  /customers:
    post:
      tags:
        - "customer"
      summary: "Create customer"
      description: "This can only be done by the logged in customer."
      operationId: "createCustomer"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Created customer object"
          required: true
          schema:
            $ref: "#/definitions/CustomerRegisration"
      responses:
        default:
          description: "successful operation"
  /customers/createWithArray:
    post:
      tags:
        - "customer"
      summary: "Creates list of customers with given input array"
      description: "not sure when this api is needed"
      operationId: "createCustomersWithArrayInput"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "List of customer object"
          required: true
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CustomerRegisration"
      responses:
        default:
          description: "successful operation"
  /customers/createWithList:
    post:
      tags:
        - "customer"
      summary: "Creates list of customers with given input array"
      description: "not sure when this api is needed"
      operationId: "createCustomersWithListInput"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "List of customer object"
          required: true
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CustomerRegisration"
      responses:
        default:
          description: "successful operation"
  /customers/login:
    get:
      tags:
        - "customer"
      summary: "Logs customer into the system"
      description: ""
      operationId: "loginCustomer"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "customername"
          in: "query"
          description: "The customer name for login"
          required: true
          type: "string"
        - name: "password"
          in: "query"
          description: "The password for login in clear text"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "string"
          headers:
            X-Rate-Limit:
              type: "integer"
              format: "int32"
              description: "calls per hour allowed by the customer"
            X-Expires-After:
              type: "string"
              format: "date-time"
              description: "date in UTC when token expires"
        "400":
          description: "Invalid customername/password supplied"
  /customers/logout:
    get:
      tags:
        - "customer"
      summary: "Logs out current logged in customer session"
      description: ""
      operationId: "logoutCustomer"
      produces:
        - "application/xml"
        - "application/json"
      parameters: []
      responses:
        default:
          description: "successful operation"
  /customers/{customerid}:
    get:
      tags:
        - "customer"
      summary: "Get customer by customer name"
      description: ""
      operationId: "getCustomerByName"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "customerid"
          in: "path"
          description: "The name that needs to be fetched. Use customer1 for testing. "
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Customer"
        "400":
          description: "Invalid customername supplied"
        "404":
          description: "Customer not found"
    put:
      tags:
        - "customer"
      summary: "Update customer"
      description: "This can only be done by the logged in customer."
      operationId: "updateCustomer"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "customerid"
          in: "path"
          description: "name that need to be updated"
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Updated customer object"
          required: true
          schema:
            $ref: "#/definitions/Customer"
      responses:
        "400":
          description: "Invalid customer supplied"
        "404":
          description: "Customer not found"
    delete:
      tags:
        - "customer"
      summary: "Delete customer"
      description: "This can only be done by the logged in customer."
      operationId: "deleteCustomer"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "customerid"
          in: "path"
          description: "The name that needs to be deleted"
          required: true
          type: "string"
      responses:
        "400":
          description: "Invalid customername supplied"
        "404":
          description: "Customer not found"

  /designers:
    post:
      tags:
        - "designer"
      summary: "Add a new designer to the store"
      description: ""
      operationId: "adddesigner"
      consumes:
        - "application/json"
        - "application/xml"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "designer object that needs to be added to the store"
          required: true
          schema:
            $ref: "#/definitions/Designer"
      responses:
        "405":
          description: "Invalid input"
      security:
        - gfashionstore_auth:
            - "write:designers"
            - "read:designers"
    put:
      tags:
        - "designer"
      summary: "Update an existing designer"
      description: ""
      operationId: "updatedesigner"
      consumes:
        - "application/json"
        - "application/xml"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "designer object that needs to be added to the store"
          required: true
          schema:
            $ref: "#/definitions/Designer"
      responses:
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "designer not found"
        "405":
          description: "Validation exception"
      security:
        - gfashionstore_auth:
            - "write:designers"
            - "read:designers"
  /designers/search:
    get:
      tags:
        - "designer"
      summary: "Searches designers by given query string"
      description: "Multiple status values can be provided with comma separated strings"
      operationId: "searchdesigners"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "status"
          in: "query"
          description: "Query string that need to be considered for filter(TBC)"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Designer"
        "400":
          description: "Invalid status value"
      security:
        - gfashionstore_auth:
            - "write:designers"
            - "read:designers"
  /designers/{designerId}:
    get:
      tags:
        - "designer"
      summary: "Find designer by ID"
      description: "Returns a single designer"
      operationId: "getDesignerById"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "designerId"
          in: "path"
          description: "ID of designer to return"
          required: true
          type: "integer"
          format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Designer"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "designer not found"
      security:
        - api_key: []
    post:
      tags:
        - "designer"
      summary: "Updates a designer in the store with form data"
      description: ""
      operationId: "updatedesignerWithForm"
      consumes:
        - "application/x-www-form-urlencoded"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "designerId"
          in: "path"
          description: "ID of designer that needs to be updated"
          required: true
          type: "integer"
          format: "int64"
        - name: "name"
          in: "formData"
          description: "Updated name of the designer"
          required: false
          type: "string"
        - name: "status"
          in: "formData"
          description: "Updated status of the designer"
          required: false
          type: "string"
      responses:
        "405":
          description: "Invalid input"
      security:
        - gfashionstore_auth:
            - "write:designers"
            - "read:designers"
    delete:
      tags:
        - "designer"
      summary: "Deletes a designer"
      description: ""
      operationId: "deletedesigner"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "api_key"
          in: "header"
          required: false
          type: "string"
        - name: "designerId"
          in: "path"
          description: "designer id to delete"
          required: true
          type: "integer"
          format: "int64"
      responses:
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "designer not found"
      security:
        - gfashionstore_auth:
            - "write:designers"
            - "read:designers"
  /designers/{designerId}/uploadImage:
    post:
      tags:
        - "designer"
      summary: "uploads an image"
      description: ""
      operationId: "uploadDesignerFile"
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - name: "designerId"
          in: "path"
          description: "ID of designer to update"
          required: true
          type: "integer"
          format: "int64"
        - name: "additionalMetadata"
          in: "formData"
          description: "Additional data to pass to server"
          required: false
          type: "string"
        - name: "file"
          in: "formData"
          description: "file to upload"
          required: false
          type: "file"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
      security:
        - gfashionstore_auth:
            - "write:designers"
            - "read:designers"

  /category/list:
    get:
      tags:
        - "category"
      summary: "List category "
      description: "Get category list"
      operationId: "getAllCategory"
      produces:
        - "application/json"
      parameters:
        - name: "searchCriteria[filterGroups][0][filters][0][field]"
          in: "query"
          description: "Field"
          required: false
          type: "string"
        - name: "searchCriteria[filterGroups][0][filters][0][value]"
          in: "query"
          description: "Value"
          required: false
          type: "string"
        - name: "searchCriteria[filterGroups][0][filters][0][conditionType]"
          in: "query"
          description: "Condition type"
          required: false
          type: "string"
        - name: "searchCriteria[sortOrders][0][field]"
          in: "query"
          description: "Sorting field."
          required: false
          type: "string"
        - name: "searchCriteria[sortOrders][0][direction]"
          in: "query"
          description: "Sorting direction."
          required: false
          type: "string"
        - name: "searchCriteria[pageSize]"
          in: "query"
          description: "Page size."
          required: false
          type: "string"
        - name: "searchCriteria[currentPage]"
          in: "query"
          description: "Current page."
          required: false
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Category_search_results"
        "400":
          description: ""
        "404":
          description: "Category not found"
      security:
        - api_key: []
  /category/{categoryId}:
    get:
      tags:
        - "category"
      summary: "Find category by categoryId"
      description: "Get info about category by category id"
      operationId: "getCategoryInfoById"
      produces:
        - "application/json"
      parameters:
        - name: "categoryId"
          in: "path"
          description: "categoryId of CategoryDetail to return"
          required: true
          type: "integer"
          format: "integer"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Category"
        "400":
          description: "Invalid categoryId supplied"
        "404":
          description: "CategoryDetail not found"
      security:
        - api_key: []

  /category/{categoryId}/products:
    get:
      tags:
        - "category"
      summary: "Find Products by categoryId"
      description: "Get products assigned to category"
      operationId: "getProductsByCategoryId"
      produces:
        - "application/json"
      parameters:
        - name: "categoryId"
          in: "path"
          description: "categoryId of CategoryDetail to return"
          required: true
          type: "integer"
          format: "integer"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/Category_products"
        "400":
          description: "Invalid categoryId supplied"
        "404":
          description: "CategoryDetail not found"
      security:
        - api_key: []
    post:
      tags:
        - "category"
      summary: "Assign a product to the required category"
      description: "Assign a product to the required category"
      operationId: "updagteProductsByCategoryId"
      produces:
        - "application/json"
      parameters:
        - name: "categoryId"
          in: "path"
          description: "categoryId of CategoryDetail to return"
          required: true
          type: "integer"
          format: "integer"
        - name: "catalogCategoryLinkRepositoryV1SavePostBody"
          in: "body"
          description: "categoryId of CategoryDetail to return"
          required: true
          schema:
            $ref: "#/definitions/Category_products"
      responses:
        "405":
          description: "Invalid input"
      security:
        - gfashionstore_auth:
            - "write:categories"
            - "read:categories"
    delete:
      tags:
        - "category"
      summary: "Assign a product to the required category"
      description: "Assign a product to the required category"
      operationId: "updagteProductsByCategoryId1"
      produces:
        - "application/json"
      parameters:
        - name: "categoryId"
          in: "path"
          description: "categoryId of CategoryDetail to return"
          required: true
          type: "integer"
          format: "integer"
        - name: "catalogCategoryLinkRepositoryV1SavePostBody"
          in: "body"
          description: "categoryId of CategoryDetail to return"
          required: true
          schema:
            $ref: "#/definitions/Category_products"
      responses:
        "405":
          description: "Invalid input"
      security:
        - gfashionstore_auth:
            - "write:categories"
            - "read:categories"

securityDefinitions:
  gfashionstore_auth:
    type: "oauth2"
    authorizationUrl: "http://gfashionstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:products: "modify products in your account"
      read:products: "read your products"
      write:designers: "modify designers in your account"
      read:designers: "read your designers"
      write:categories: "modify categories in your account"
      read:categories: "read your categories"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Order:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      productId:
        type: "integer"
        format: "int64"
      customerId:
        type: "integer"
        format: "int64"
      quantity:
        type: "integer"
        format: "int32"
      shipDate:
        type: "string"
        format: "date-time"
      status:
        type: "string"
        description: "Order Status"
        enum:
          - "placed"
          - "approved"
          - "delivered"
      complete:
        type: "boolean"
        default: false
    xml:
      name: "Order"

  Store:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      code:
        type: "string"
        format: "string"
      name:
        type: "string"
        format: "string"
      website_id:
        type: "integer"
        format: "int64"
      store_group_id:
        type: "integer"
        format: "int64"
      is_active:
        type: "integer"
        format: "int64"
    xml:
      name: "Store"
  Website:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      code:
        type: "string"
        format: "string"
      name:
        type: "string"
        format: "string"
      default_group_id:
        type: "integer"
        format: "int64"
    xml:
      name: "Store"
  StoreGroup:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      website_id:
        type: "integer"
        format: "int64"
      root_category_id:
        type: "string"
        format: "string"
      default_store_id:
        type: "string"
        format: "string"
      name:
        type: "string"
        format: "string"
      code:
        type: "string"
        format: "string"
    xml:
      name: "Store"
  StoreConfig:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      code:
        type: "string"
        format: "string"
      website_id:
        type: "integer"
        format: "int64"
      locale:
        type: "string"
        format: "string"
      base_currency_codel:
        type: "string"
        format: "string"
      default_display_currency_code:
        type: "string"
        format: "string"
      timezone:
        type: "string"
        format: "string"
      weight_unit:
        type: "string"
        format: "string"
      base_url:
        type: "string"
        format: "string"
      base_link_url:
        type: "string"
        format: "string"
      base_static_url:
        type: "string"
        format: "string"
      base_media_url:
        type: "string"
        format: "string"
      secure_base_url:
        type: "string"
        format: "string"
      secure_base_link_url:
        type: "string"
        format: "string"
      secure_base_static_url:
        type: "string"
        format: "string"
      secure_base_media_url:
        type: "string"
        format: "string"

    xml:
      name: "Store"


  Cart:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      productId:
        type: "integer"
        format: "int64"
      customerId:
        type: "integer"
        format: "int64"
      quantity:
        type: "integer"
        format: "int32"
    xml:
      name: "Cart"

  Category:
    type: "object"
    required:
      - "id"
    properties:
      id:
        type: "integer"
        format: "int64"
      parent_id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      is_active:
        type: "boolean"
      position:
        type: "integer"
        format: "int64"
      level:
        type: "integer"
        format: "int64"
      children:
        type: "string"
      created_at:
        type: "string"
      updated_at:
        type: "string"
      path:
        type: "string"
      extension_attributes:
        $ref: "#/definitions/Attribute"
    xml:
      name: "Category"

  Customer:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      customername:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
      phone:
        type: "string"
      customerStatus:
        type: "integer"
        format: "int32"
        description: "Customer Status"

    xml:
      name: "Customer"

  CustomerRegisration:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      customername:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
    xml:
      name: "Customer"

  Designer:
    type: "object"
    required:
      - "name"
      - "photoUrls"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      photoUrl:
        type: "string"
      status:
        type: "string"
        description: "product status in the store"
        enum:
          - "recommeded"
          - "pending"
          - "deleted"
    xml:
      name: "Designer"

  Product:
    type: "object"
    required:
      - "name"
      - "photoUrls"
    properties:
      id:
        type: "integer"
        format: "int64"
      categories:
        type: "array"
        items:
          $ref: "#/definitions/Category"
        description: "One product may belong to multiple categories. One category could be Gmall or GFashion."
      designerId:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        example: "glasses"
      photoUrls:
        type: "array"
        xml:
          name: "photoUrl"
          wrapped: true
        items:
          type: "string"
      status:
        type: "string"
        description: "product status in the store"
        enum:
          - "available"
          - "pending"
          - "sold"
    xml:
      name: "Product"
  Category_search_results:
    type: "object"
    properties:
      items:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: "#/definitions/Category"
      search_criteria:
        $ref: "#/definitions/Search_criteria"
      total_count:
        type: "integer"
        format: "int64"
    xml:
      name: "Category_search_results"
  Search_criteria:
    type: "object"
    properties:
      filter_groups:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: "#/definitions/Filter_group"
      sort_orders:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: "#/definitions/Sort_order"
      page_size:
        type: "integer"
        format: "int64"
      current_page:
        type: "integer"
        format: "int64"
    xml:
      name: "Search_criteria"
  Filter_group:
    type: "object"
    required:
      - "field"
      - "value"
    properties:
      filters:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: "#/definitions/Filter"
    xml:
      name: "Filter_group"
  Filter:
    type: "object"
    required:
      - "field"
      - "value"
    properties:
      field:
        type: "string"
      value:
        type: "string"
      condition_type:
        type: "string"
    xml:
      name: "Filter"
  Sort_order:
    type: "object"
    required:
      - "field"
      - "direction"
    properties:
      field:
        type: "string"
      direction:
        type: "string"
    xml:
      name: "Sort_order"
  Category_products:
    type: "object"
    required:
      - "category_id"
    properties:
      category_id:
        type: "string"
      extension_attributes:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: "#/definitions/Attribute"
      position:
        type: "integer"
        example: 2
      sku:
        type: "string"
    xml:
      name: "Category_products"
  Attribute:
    type: "object"
    properties:
      value:
        type: "string"
      attribute_code:
        type: "string"
        example: "color"
    xml:
      name: "Attribute"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"

externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
